@page "{restaurantId:int"
@model odeTofood.Pages.Restaurants.DeleteModel
@{
   // Layout = "_layout2";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body>
        <h2>Delete</h2>
        <div class="alert alert-danger">
            Are you surer to delete @Model.Restaurant.Name
        </div> 
        <form method="post">
            <button class="btn btn-danger">Delete</button>
            <a asp-page="List" class="btn btn-outline-light">all Restaurants</a>
        </form>

    </body>
</html>